* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

#img-card {
  max-width: 100%;
  width: 20%;
  height: auto;
}

#carrinho_cont {
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}
